{{- define "caicai_anatole/links" -}}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>友情链接 {{.blog_title}}</title>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="renderer" content="webkit"/>
        <meta name="author" content="{{ .user.Nickname}}"/>
        <meta name="keywords" content="{{ .meta_keywords}}"/>
        <meta name="description" content="{{ .meta_description}}"/>
        <link rel="alternate" type="application/rss+xml" title="atom 1.0" href="{{ .atom_url}}"/>
        {{template "global.head" .}}
        {{template "caicai_anatole/module/styles" .}}
        <link href="{{ .theme_base}}/dist/style.css?version={{ .theme.Version}}" rel="stylesheet">
        <script type="text/javascript" src="{{ .theme_base}}/dist/main.iife.js?version={{ .theme.Version}}"
                defer></script>
    </head>
    <body x-data="{ postSearchVisible: false }">
    {{template "caicai_anatole/module/sidebar" .}}
    <div class="main">
        {{template "caicai_anatole/module/page-top" .}}
        <div class="content">
            {{template  "caicai_anatole/module/page-heading" (dict "title" "友情链接" "subtitle" "")}}
            <div class="post-page">
                <div class="post animated fadeInDown">
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

                        {{$links:=listLinks}}

                        {{if $links}}
                            {{range $link:=$links }}
                                <a href="{{$link.URL}}" target="_blank">
                                    <div class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400">
                                        {{if $link.Logo}}
                                            <div class="flex-shrink-0">
                                                <img class="h-12 w-12 rounded-full" src="{{$link.Logo}}"
                                                     alt="{{$link.Name}}">
                                            </div>
                                        {{end}}
                                        <div class="flex-1 min-w-0">
                                            <div>
                                                <p class="text-sm font-medium text-gray-900 truncate">{{$link.Name}}</p>
                                                <p class="text-sm text-gray-500 truncate">{{$link.Description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "global.footer" .}}
    {{template "caicai_anatole/module/post-search-modal" .}}
    </body>
    </html>
{{end}}