{{define "caicai_anatole/photos" -}}
<!DOCTYPE HTML>
<html lang="zh">
<head>
    <title>图库 - {{.blog_title}}</title>
    <meta charset="utf-8"/>
    {{template "global.head" .}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{.theme_base}}/assets/libs/gallery/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="{{.theme_base}}/libs/gallery/css/noscript.css"/>
    </noscript>
</head>
<body class="is-loading-0 is-loading-1 is-loading-2">
<div id="main">
    <header id="header">
        <h1>图库</h1>
        <p>{{.user.Description}}</p>
    </header>
    <section id="thumbnails">
    {{$photos:=listPhotos}}
            {{if $photos}}
                {{range $photo:=$photos}}
                    <article>
                        <a class="thumbnail" href="{{$photo.URL}}" data-position="left center"><img
                                    src="{{$photo.Thumbnail}}" alt="{{$photo.Description}}"/></a>
                        <h2>{{$photo.Name}}</h2>
                        <p>{{$photo.TakeTime}}</p>
                    </article>
                {{end}}
            {{end}}
    </section>
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; {{.blog_title}}.</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a>.</li>
        </ul>
    </footer>
</div>
<script src="{{.theme_base}}/assets/js/jquery.min.js"></script>
<script src="{{.theme_base}}/assets/js/skel.min.js"></script>
<script src="{{.theme_base}}/assets/libs/gallery/js/main.js"></script>
{{template "global.statistics" .}}
</body>
</html>
{{end}}