{{- define "caicai_anatole/tags" -}}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{.blog_title}}</title>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="renderer" content="webkit"/>
        <meta name="author" content="{{ .user.Nickname}}"/>
        <meta name="keywords" content="{{ .meta_keywords}}"/>
        <meta name="description" content="{{ .meta_description}}"/>
        <link rel="alternate" type="application/rss+xml" title="atom 1.0" href="{{ .atom_url}}"/>
        {{template "global.head" .}}
        {{template "caicai_anatole/module/styles" .}}
        <link href="{{ .theme_base}}/dist/style.css?version={{ .theme.Version}}" rel="stylesheet">
        <script type="text/javascript" src="{{ .theme_base}}/dist/main.iife.js?version={{ .theme.Version}}"
                defer></script>
        <script>
            function handleHighlightTag(tag, highlight) {
                const targetTag = document.getElementById("tag-" + tag)
                if (targetTag) {
                    const classList = targetTag.classList
                    highlight ? classList.add('bg-gray-50', 'p-1', 'rounded-lg') : classList.remove('bg-gray-50', 'p-1', 'rounded-lg')
                }
            }
        
        </script>
    </head>
    <body x-data="{ postSearchVisible: false }">
    {{template "caicai_anatole/module/sidebar" .}}
    <div class="main">
        {{template "caicai_anatole/module/page-top" .}}
        <div class="content">
            {{$tagCount:=getTagCount}}
            {{template "caicai_anatole/module/page-heading" (dict "title" "标签" "subtitle" $tagCount)}}
            <div class="post-page">
                <div class="post animated fadeInDown">
                    <div class="flex flex-row flex-wrap gap-2 mb-10">
                        <!--TODO sort by count-->
                        {{$tags:=getAllTag}}
                        {{range $tag:=$tags}}
                            <a href="#tag-{{$tag.Slug}}"
                               class="text-sm text-black/80 hover:text-black hover:underline hover:font-medium"
                               @mouseenter="handleHighlightTag('${tag.slug!}',true)"
                               @mouseleave="handleHighlightTag('${tag.slug!}',false)">
                                #{{$tag.Name}}（{{$tag.PostCount}}）
                            </a>
                        {{end}}
                    </div>
                    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                        {{range $tag:=$tags}}
                            <div id="tag-{{$tag.Slug}}" class="transition-all duration-300">
                                <a href="{{$tag.FullPath}}" class="hover:underline underline-offset-1">
                                    <div class="inline-flex text-base font-medium text-gray-800 items-center">
                                        <i class="iconify w-5 h-5" data-icon="mdi:tag"></i>
                                        <span class="ml-2">
                                        {{$tag.Name}}
                                        <sup class="text-gray-400 ml-1">{{$tag.PostCount}}</sup>
                                    </span>
                                    </div>
                                </a>
                                <div class="mt-3">
                                    {{$posts:=(listPostByTagID $tag.ID)}}
                                    <div class="flex flex-col pl-5 gap-y-2">
                                        {{if $posts}}
                                            <!-- TODO sort by createTime -->
                                            {{range $post_index ,$post:=$posts}}
                                                {{if (lt $post_index 10) }}
                                                    <div class="flex justify-between">
                                                        <a href="{{$post.FullPath}}"
                                                           class="text-sm text-black/80 hover:text-black hover:underline hover:font-medium">{{$post.Title}}</a>
                                                        <span class="text-sm text-gray-300">{{unix_milli_time_format "2006-01-02 03:04" $post.CreateTime}}</span>
                                                    </div>
                                                {{end}}
                                            {{end}}
                                            {{if (gt (len $posts) 10)}}
                                                <div class="flex justify-end mt-2">
                                                    <a href="{{$tag.FullPath}}"
                                                       class="text-sm text-black/60 hover:text-black hover:underline hover:font-medium inline-flex items-center">
                                                        <i class="iconify mr-2"
                                                           data-icon="mdi:unfold-more-vertical"></i>
                                                        更多
                                                    </a>
                                                </div>
                                            {{end}}
                                        {{else}}
                                            <div class="text-sm text-gray-300">此标签没有文章</div>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "global.footer" .}}
    {{template "caicai_anatole/module/post-search-modal" .}}
    </body>
    </html>
{{end}}