{{define "caicai_anatole/module/stylesheet"}}
<link href="{{ .theme_base}}/dist/style.css?version={{ .theme.Version}}" rel="stylesheet">
<script type="text/javascript" src="{{ .theme_base}}/dist/main.iife.js?version={{ .theme.Version}}"defer></script>
{{end}}