{{define "caicai_anatole/module/styles"}}
    <style>
    .sidebar {
        width: {{.settings.sidebar_width}};
    }

    .page-top {
        width: calc(100% - {{.settings.sidebar_width}});
    }

    .content {
        width: calc(100% - {{.settings.sidebar_width}});
    }

    {{if .settings.sidebar_background}}
    .sidebar {
        background: url("{{noescape .settings.sidebar_background}}") no-repeat center center fixed;
    }
    {{end}}

    </style>
<link href="{{ .theme_base}}/dist/style.css?version={{ .theme.Version}}" rel="stylesheet">
<script type="text/javascript" src="{{ .theme_base}}/dist/main.iife.js?version={{ .theme.Version}}"defer></script>
{{end}}